button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
  /* browsers are inconsistent with applying fonts so this will inherit parent elements instead of defaults */
}
input[type=submit]{
  width: 100%;
  background-color: steelblue;
}
input[type=password]:focus{
  background-color: seagreen;
  outline: none;
}
input{
  border-radius: 15px;
}
fieldset{
  border: none;
}
fieldset input{
  display: inline;
}
/* hide the browsers default checkboxes */
.checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* customize the labels */
.checkbox label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* create a custome checkbox */
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* on mouse-over, add a grey background color */
.checkbox label:hover input ~ .checkmark{
  background-color: #ccc;
}
/* when the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark{
  background-color: #2196F3;
}
/* hidden when not checked */
.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}
/* show the checkmark when checked */
.checkmark:after{
  display: block;
}
/* style the checkmark/indicator */
.checkbox .checkmark:after{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radiobutton{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.radio:hover input ~ .radiobutton{
  background-color: #ccc;
}
.radio input:checked ~ .radiobutton{
  background-color: #2196F3;
}
.radiobutton:after{
  content: "";
  position: absolute;
  display: none;
}
.radio input:checked ~ .radiobutton:after{
  display: block;
}
.radio .radiobutton:after{
  top:9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
